<div class="container">
  <div class="rowfaq">
    <div class="col1">
    </div>
    <div class="col2">
      <h1  style="font-family: Roboto, Helvetica Neue ,sans-serif;">How can we help you?</h1>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type keywords to find answers">
      </mat-form-field>
      <div style="position: inherit; text-align: -webkit-center;">
          <mat-card style="width: fit-content;">
              <mat-chip-list aria-label="key word">
                        <h1 style="font-size: 1.5em;">Keywords : </h1>
                        <mat-chip color="accent" selected (click)="keywords('Lost')">Lost</mat-chip>
                        <mat-chip color="accent" selected (click)="keywords('Phone')">Phone</mat-chip>
                        <mat-chip color="accent" selected (click)="keywords('Reward')">Reward</mat-chip>
                        <mat-chip color="accent" selected (click)="keywords('Alert')">Alert</mat-chip>
                        <mat-chip color="accent" selected (click)="keywords('police complaint')">police complaint</mat-chip>
                        <mat-chip color="accent" selected (click)="keywords('unauthorized')">unauthorized</mat-chip>
                        <mat-chip color="accent" selected (click)="keywords('delivery')">delivery</mat-chip>
                        <mat-chip color="accent" selected (click)="keywords('privacy')">privacy</mat-chip>
              </mat-chip-list>
          </mat-card>
      </div>
    </div>
    <div class="col3">
    </div>
  </div>
</div>
<br>
<!-- <button mat-raised-button color="primary" [value]="lost" (click)="word1('reward')">lost</button> -->

<br>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Column -->
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef>Topics</th>
    <td mat-cell *matCellDef="let element">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="topic">{{element.topic}}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>{{element.free}} </p>
        <p>{{element.premium}} </p>
        <p>{{element.o1}} </p>
        <p>{{element.o2}} </p>
        <p>{{element.o3}} </p>
        <p>{{element.o4}} </p>
        <p>{{element.o5}} </p>
        <p>{{element.o6}} </p>
        <p>{{element.o7}} </p>
        <p>{{element.o8}} </p>
      </mat-expansion-panel>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

